transformers>=4.40
diffusers>=0.30
accelerate
xformers
numpy
pillow
trimesh
pygltflib
kornia
cupy-cuda12x
kaolin==0.17.0  -f https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.5.1_cu124.html
torch-cluster     -f https://data.pyg.org/whl/torch-2.5.1+cu124.html
git+https://github.com/facebookresearch/pytorch3d.git@stable
