fastapi
uvicorn
trimesh
torch==2.1.0
torchvision==0.16.0
diffusers
transformers
accelerate
bitsandbytes
python-multipart
Jinja2
einops
pytorch-lightning
omegaconf
jaxtyping
typeguard
mosaicml-streaming==0.11.0
timm
pymeshlab
wandb
rembg
onnxruntime
beautifulsoup4
python-dotenv
fastapi-cors